<?xml version="1.0" encoding="utf-8"?>

<launch>


  <node pkg="task1" type="server" name="task1_server" output="screen">
  </node>
  
  <node pkg="task1" type="main" name="task1_main" output="screen">
  </node>

  <node pkg="task1" type="armcontrol" name="task1_armcontrol" output="screen">
  </node>
  


</launch>